@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,300;1,300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,300;1,300&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

.principal-cartel .titulo-cartel {
  font-size: 2rem;
  letter-spacing: 5px;
  background-color: rgb(0, 0, 0);
  color: #D0C9C0;
  text-align: center;
  animation-name: titulo;
  animation-duration: 30s;
}
@media screen and (max-width: 600px) {
  .principal-cartel .titulo-cartel {
    font-size: 1.5rem;
    letter-spacing: none;
    color: #9A0680;
    font-weight: bolder;
  }
}
@keyframes titulo {
  0% {
    color: #EE5007;
  }
  25% {
    color: #F900BF;
    left: 200px;
  }
  50% {
    color: #FFE400;
  }
  75% {
    color: #1CC5DC;
  }
  100% {
    color: #93329E;
  }
}

.header .titulo-marca {
  color: black;
  font-size: 4rem;
  font-weight: bolder;
}

.nav-link {
  font-weight: 500;
  color: #0b0606;
  font-size: 1.8rem;
}
.nav-link:hover {
  color: #A2B38B;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/accesoriosdemoda1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .hero-img {
    flex-direction: column;
    align-items: center;
  }
}
.hero-img .texto-hero {
  background-color: rgba(0, 0, 0, 0.284);
  letter-spacing: 5px;
  padding: 150px;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  color: #F0ECE3;
}
@media screen and (max-width: 600px) {
  .hero-img .texto-hero {
    font-size: 1.5rem;
  }
}
.hero-img .texto-hero .titulo-nosotros {
  font-size: 3rem;
  font-weight: bolder;
  color: #FDF6EC;
}

.subtitulo-nosotros {
  letter-spacing: 5px;
  color: #FDF6EC;
  font-size: 2.5rem;
  font-weight: bolder;
}
.subtitulo-nosotros .submit-style {
  color: rgba(6, 7, 6, 0.7019607843);
  background-color: rgb(166, 137, 137);
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 5px;
  width: 300px;
}
.subtitulo-nosotros .submit-style:hover {
  color: antiquewhite;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.26);
}

.mayoristas-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .mayoristas-section {
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);
    -webkit-box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);
    -moz-box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);
  }
}
.mayoristas-section .card-uno,
.mayoristas-section .card-dos,
.mayoristas-section .card-tres {
  width: 350px;
  height: 300px;
  color: grey;
  margin: 50px;
  padding: 50px;
  text-align: left;
  box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
}
.mayoristas-section .card-uno:hover,
.mayoristas-section .card-dos:hover,
.mayoristas-section .card-tres:hover {
  box-shadow: -8px 14px 10px 0px rgba(84, 64, 64, 0.75);
  -webkit-box-shadow: -8px 14px 10px 0px rgba(100, 87, 87, 0.75);
  -moz-box-shadow: -8px 14px 10px 0px rgba(230, 215, 215, 0.75);
}
.mayoristas-section .card-uno .titulo-card,
.mayoristas-section .card-dos .titulo-card,
.mayoristas-section .card-tres .titulo-card {
  letter-spacing: 0.5rem;
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
}
.mayoristas-section .card-uno .titulo-card p,
.mayoristas-section .card-dos .titulo-card p,
.mayoristas-section .card-tres .titulo-card p {
  letter-spacing: 0.5rem;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 35px;
}
@media only screen and (max-width: 600px) {
  .galeria-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.galeria-container .item-uno {
  grid-column-start: span 3;
}

.galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria-item img .parrafo-item {
  font-size: 2.5 rem;
  font-weight: bolder;
  text-align: center;
}

.item-uno {
  position: relative;
}
.item-uno .titulo-item-uno {
  background-color: rgba(247, 205, 172, 0.504);
  color: #0b0606;
  position: absolute;
  bottom: 35px;
  margin-left: 25px;
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bolder;
}
@media only screen and (max-width: 600px) {
  .item-uno .titulo-item-uno {
    font-size: 2.5rem;
  }
}
.item-uno .titulo-item-uno:hover {
  background-color: #0b0606;
  color: #E8EAE6;
}

.info-texto {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 30px;
  margin-top: 30px;
  background-image: url(../imagenes/accesorios213.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 600px) {
  .info-texto {
    flex-direction: column;
    align-items: center;
  }
}

.info-uno {
  margin: 100px 50px;
  padding: 50px;
  text-align: center;
  background-color: #0F0E0E;
}
.info-uno .encabezado-uno {
  color: #E8EAE6;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.info-uno .encabezado-uno p {
  font-weight: 600;
  color: #ECDBBA;
  font-size: 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040403;
  margin-top: 50px;
  padding: 20px 20px;
  color: #E8EAE6;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 13, 13);
    color: rgb(243, 214, 214);
    margin-top: 50px;
    padding: 20px 20px;
  }
}
.footer-container .info-redes a {
  text-decoration: none;
  list-style: none;
  color: #a9896f;
  font-size: 20px;
}
.footer-container .info-redes a:hover {
  color: rgba(240, 255, 255, 0.75);
}
.footer-container .info-redes a:hover .btn-chat img {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 33px;
  right: 33px;
  line-height: 55px;
  z-index: 100;
}

/*# sourceMappingURL=style.css.map */
