$colores: 
#0b0606,
#A2B38B,
#D0C9C0,
#180A0A,
#A25B5B,
#E8EAE6,
#CC9C75,

#060706b3,
#EEEEEE,

#F0ECE3;

$bg-color: rgba(0, 0, 0, 0.284),
rgb(166, 137, 137),
rgba(0, 0, 0, 0.26),
#0f0e0ec1,
rgb(0, 0, 0),
rgba(247, 205, 172, 0.504),
#0b0606,
#e8eae669,
#CC9C75;

$font-size: 1.5rem,
1.8rem,
2rem,
2.5rem,
3rem,
4rem;

$font-weight: 
500,
600,
700,
bolder;
