.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040403;
    margin-top: 50px;
    padding: 20px 20px;
    color: #E8EAE6;
    text-align: center;
    @media only screen and (max-width: 600px) {
        
        flex-direction: column;
        align-items: center;
        background-color: rgb(14, 13, 13);
        color: rgb(243, 214, 214);
        margin-top: 50px;
        padding: 20px 20px;
        }
    .info-redes a{
        text-decoration: none;
        list-style: none;
        color: #a9896f;
        font-size: 20px;
        &:hover{
            color: rgba(240, 255, 255, 0.75);

        .btn-chat img{
            position: fixed;
            width: 55px;
            height: 55px;
            bottom: 33px;
            right: 33px;
            line-height: 55px;
            z-index: 100;
            }
        }
    }

}