@import'../base/mixin';
@import'../base/listas';


.mayoristas-section {
  @include flex (center,center,center);
    text-align: center;

    @media screen and (max-width:780px) {
        flex-direction: column;
        align-items: center;
        
        box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);
        -webkit-box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);
        -moz-box-shadow: -16px 9px 5px -5px rgba(15, 14, 15, 0.75);

    }

    .card-uno,
    .card-dos,
    .card-tres {
        width: 450px;
        height: 350px;
        margin: 50px;
        padding: 50px;
        text-align: left;
        box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -8px 14px 10px 0px rgba(0, 0, 0, 0.75);
        @media screen and (max-width:780px) {
           width: 350px;
           height: 300px;
           background-color: nth($bg-color, 7 );
    
        }
        &:hover {
            box-shadow: -8px 14px 10px 0px rgba(80, 46, 46, 0.75);
            -webkit-box-shadow: -8px 14px 10px 0px rgba(217, 203, 203, 0.75);
            -moz-box-shadow: -8px 14px 10px 0px rgba(27, 21, 21, 0.75);
          
            
          
        }

       
    }
}
.card-uno,.card-dos,.card-tres {
     .titulo-card {
        text-align: center;
        color: nth($colores, 4 );
        font-size: nth($font-size, 4);
        font-weight: nth($font-weight, 4 );
     
        @media screen and (max-width:780px) {
            color: nth($colores, 3 );
           }
      
    }
} 
.mayoristas {
    text-align: center;
    color: nth($colores, 7 );
    font-size:nth($font-size, 3 );
    font-weight: nth($font-weight, 4 );
  
    @media screen and (max-width:780px) {
        color: nth($colores, 3 );
       }
  
}
