.info-texto {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
    background-image: url(../imagenes/accesorios213.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width:780px) {
        flex-direction: column;
        align-items: center;

       

      

    }
}
   
    
   
.info-uno,.info-dos,.info-tres{
    width: 450px;
    height: 400px;
    margin: 100px 50px;
    padding: 50px;
    text-align: center;
    background-color: nth($bg-color, 4 );
    @media only screen and (max-width:780px) {
        background-color: nth($bg-color, 6 );
        color: nth($colores,1 );
        width: 400px;
        height: 350px;
        }
    &:hover{
        background-color: nth($bg-color, 2 );
        
    }
     
   

    
}
.encabezado-cueros{
     color: nth($colores, 6);
     font-size: 3rem;
     font-weight: nth($font-weight, 3);
     font-family: 'Poppins', sans-serif;
     @media only screen and (max-width:780px) {
         color: nth($colores,1 );
       
        }
}
.parrafo-cueros{
   
    text-align: center;
    font-weight: nth($font-weight, 2 );
    color: nth($colores, 3 );
    font-size: 2rem;
    @media only screen and (max-width:780px) {
        
        color: nth($colores,1 );
        text-transform: uppercase;
       
        }
  
        

}