@import'../base/listas';
@import'../base/extends';


.hero-img {
    @extend %flex;
    background-image: url(../imagenes/accesoriosdemoda1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 600px) {

        flex-direction: column;
        align-items: center;


    }

    .texto-hero {
        background-color: nth($bg-color, 1);
        letter-spacing: 0.5rem;
        padding: 150px;
        text-align: left;
        font-size: nth($font-size, 3 );
        font-weight: nth($font-weight, 3 );
        color: nth($colores, 9 );
        @media screen and (max-width: 600px) {
            font-size: nth($font-size, 1 );
            letter-spacing: normal;
    
    
        }

        .titulo-nosotros {
            font-size: 3rem;
            font-weight: nth($font-weight, 4 );
            color:nth($colores, 9 ); 
           


        }
    }
}

.subtitulo-nosotros {
    letter-spacing: 0.5rem;
    color:nth($colores, 6 ); 
    font-size: nth($font-size , 3);
    font-weight: nth($font-weight, 4 );
    text-shadow: 2px ;

    
}
.submit-style {
    color: nth($colores, 1 );
    background-color: nth($bg-color, 8 );
    font-weight: nth($font-weight, 4);
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 5px;
    width: 100px;

    &:hover {
        color:nth($colores, 9) ;
        font-weight: nth($font-weight, 4);
        background-color: nth($bg-color, 3 );

       
    }

}