.info-texto {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
    background-image: url(../imagenes/accesorios213.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}
    .info-uno{
        margin: 100px 50px;
        padding: 50px;
        text-align: center;
        background-color: #0F0E0E;
        .encabezado-uno{
                 color: #E8EAE6;
                font-size: 3.5rem;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
            p{
                font-weight: 600;
                color: #ECDBBA;
                font-size: 3rem;


            }
        }
    }

    
   
